{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}<title>QRAR - User Deactivation </title> {% endblock %}

{% block content %}
<div id="layoutSidenav_content">
    <div id="app">
        <main>
            <!-- Begin Page Content -->
            <div class="container-fluid p-5">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Deactivate User</h1>
        <p>Are you sure you want to deactivate the user <strong>{{user}}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" name="deactivate_user" class="btn btn-sm btn-danger">Deactivate User</button>
            <a href="{% url 'users:manage_users' %}" class="btn btn-sm btn-secondary">Cancel</a>
        </form>
    </div>
        </main>
    </div>
</div>
    <!-- /.container-fluid -->
{% endblock %}
